{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Id registration {{ .Id }} </h2>
      <p>Name: {{ .Name }}</p>
      <p>Autor:  {{ .Autor }}</p>
	<p>Date of create: {{ .Date }}</p><p><br /> <a href="/edit?id={{ .Id }}">Edit</a></p>
  {{ template "Footer" }}
{{ end }}